<div class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="push" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">${i18n("header.title")}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse navbar-material-light-blue-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/index">${i18n("header.home")}</a></li>
			</ul>
			<ul class="navbar-right nav navbar-nav">
			<#if (session.username)??>
                <li><a href="/admin/memberDetail/${session.memNo}">Hi, ${session.name}!</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/logout">${i18n("header.logout")}</a></li>
            <#else>
                <li><a href="/category">Category</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/login" id="login">${i18n("header.login")}</a></li>
            </#if>
				
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>