/* Add additional stylesheets below
-------------------------------------------------- */

/*for alert */
.alert {
	position:absolute;
    z-index:1;
}
/* START For login Page */
.entry {
  float: none;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  color: #444;
}

.entry-social {
  margin-top: 10px;
}

.entry-social button {
  display: block;
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.entry-social button i {
  float: left;
  width: 40px;
  font-size: 20px;
  margin-top: 1px;
  padding-right: 15px;
  padding-left: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.entry-social button#entry-facebook {
  background: #3B5998;
  color: #fff;
}

.entry-social button#entry-google {
  background: #db5a3c;
  color: #fff;
}

.entry-social button#entry-twitter {
  background: #4099FF;
  color: #fff;
}

.entry p {
  font-size: 15px;
  line-height: 20px;
}
.email-option .line-thru.or-sign-in {
  margin-bottom: 30px;
}

.email-option .line-thru {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.email-option .line-thru:after {
  border-bottom: 1px solid #999;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
}

.email-option .line-thru:before {
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.entry-signup-cta {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

div.login {
  padding: 0 20px;
}

/* END For login Page */

/* BEGIN for sign up page */

label.error {
    color: red;
    font-weight: bold;
    margin-top: 2px;
    padding: 2px 8px;
}

label.valid {
    background: rgba(0, 0, 0, 0) url('/assets/img/valid.png') no-repeat scroll center center;
    display: inline-block;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}

/* END for sign up page */