<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="http://lorempixel.com/800/400/business/1/" alt="Image">
						<div class="carousel-caption">
							<h3>Sell $</h3>
							<p>Money Money.</p>
						</div>
					</div>

					<div class="item">
						<img src="http://lorempixel.com/800/400/business/2/" alt="Image">
						<div class="carousel-caption">
							<h3>More Sell $</h3>
							<p>Lorem ipsum...</p>
						</div>
					</div>

					<div class="item">
						<img src="http://lorempixel.com/800/400/business/3/" alt="Image">
						<div class="carousel-caption">
							<h3>More Sell this</h3>
							<p>Lorem ipsum...</p>
						</div>
					</div>

					<div class="item">
						<img src="http://lorempixel.com/800/400/business/4/" alt="Image">
						<div class="carousel-caption">
							<h3>More Sell this</h3>
							<p>Lorem ipsum...</p>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<p>Some text..</p>
			</div>
			<div class="well">
				<p>Upcoming Events..</p>
			</div>
			<div class="well">
				<p>Visit Our Blog</p>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="container text-center">
	<h3>What We Do</h3>
	<br>
	<div class="row">
		<div class="col-sm-3">
			<img src="http://lorempixel.com/150/80/business/1/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Current Project</p>
		</div>
		<div class="col-sm-3">
			<img src="http://lorempixel.com/150/80/business/2/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Project 2</p>
		</div>
		<div class="col-sm-3">
			<div class="well">
				<p>Some text..</p>
			</div>
			<div class="well">
				<p>Some text..</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="well">
				<p>Some text..</p>
			</div>
			<div class="well">
				<p>Some text..</p>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="container text-center">
	<h3>Our Partners</h3>
	<br>
	<div class="row">
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/3/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 1</p>
		</div>
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/4/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 2</p>
		</div>
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/5/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 3</p>
		</div>
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/6/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 4</p>
		</div>
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/7/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 5</p>
		</div>
		<div class="col-sm-2">
			<img src="http://lorempixel.com/150/80/business/8/"
				class="img-responsive" style="width: 100%" alt="Image">
			<p>Partner 6</p>
		</div>
	</div>
</div>
<br>


</@layout.myLayout>
