<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="container-fab pull-right">
				<button class="btn btn-danger btn-fab btn-fab-mini">
					<span class="fa fa-stack-2x fab">
						<i class="fa fa-plus fa-stack-1x fab-primary"></i>
						<i class="fa fa-arrow-left fa-stack-1x fab-secondary"></i>
					</span>
				</button>
				</div>
				<div class="panel-body">Panel content</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="container-fab pull-right">
				<button class="btn btn-danger btn-fab btn-fab-mini">
					<span class="fa fa-stack-2x fab">
						<i class="fa fa-plus fa-stack-1x fab-primary"></i>
						<i class="fa fa-arrow-left fa-stack-1x fab-secondary"></i>
					</span>
				</button>
				</div>
				<div class="panel-body">Panel content</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="container-fab pull-right">
				<button class="btn btn-danger btn-fab btn-fab-mini">
					<span class="fa fa-stack-2x fab">
						<i class="fa fa-plus fa-stack-1x fab-primary"></i>
						<i class="fa fa-arrow-left fa-stack-1x fab-secondary"></i>
					</span>
				</button>
				</div>
				<div class="panel-body">Panel content</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="container-fab pull-right">
				<button class="btn btn-danger btn-fab btn-fab-mini">
					<span class="fa fa-stack-2x fab">
						<i class="fa fa-plus fa-stack-1x fab-primary"></i>
						<i class="fa fa-arrow-left fa-stack-1x fab-secondary"></i>
					</span>
				</button>
				</div>
				<div class="panel-body">Panel content</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
	</div>
</div>

</@layout.myLayout>
