.container-fab {
  margin-top: -20px;
  padding-right: 10px;
}

.fab {
  margin-top: -11px;
}

.fab-primary {
    transition: all $duration $timing-function;
}

.fab-secondary {
  margin-left: -50px;
  transition: all $duration $timing-function;
  opacity: 0;
  transform: rotate(-225deg);
}

.active {
  .fab-primary {
      opacity: 0;
      transform: rotate(225deg);
  }
  .fab-secondary {
      opacity: 1;
      transform: rotate(0);
  }
}

.btn-yellow {
  color: $yellow;
}

