/* Navbar */

nav.navbar{
  // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

div.navbar a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
}

div.navbar .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 30px;
}

div.navbar.shrink {
	min-height: 40px;
	max-height: 40px;

	a {
	  padding-top: 10px !important;
	  padding-bottom: 10px !important;
	  font-size: 15px;
	}
	
	.navbar-brand {
	  font-size: 25px;
	}
	.navbar-toggle {
		padding: 4px 5px;
		margin: 8px 15px 8px 0;
	}
}