/* Font Colors */

$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;


/* Background Colors */

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;

/* Button animation */
$duration: 0.35s;
$timing-function: ease-in-out;
