<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin">
<!-- Data picker pikaday -->
<link href="/assets/webjars/Pikaday/1.3.0/pikaday.css" rel="stylesheet">
<script src="/assets/webjars/Pikaday/1.3.0/pikaday.js"></script>

<!-- bootstrap-fileinput -->
<link href="/assets/webjars/bootstrap-fileinput/4.2.8/css/fileinput.min.css" rel="stylesheet">
<script src="/assets/webjars/bootstrap-fileinput/4.2.8/js/fileinput.min.js"></script>
<script src="/assets/webjars/bootstrap-fileinput/4.2.8/js/fileinput_locale_LANG.js"></script>

<!-- some CSS styling changes and overrides -->
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
</style>
<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Member Detail</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-md-4">
				<!-- <img class="img-circle" alt="profile-picture" width="300px" height="200px" id="image"
					src="http://localhost:8080/retriveImage/${(member.id!" ")}""/>
				<form method="post" enctype="multipart/form-data" action="/uploadImage">
					<input hidden="hidden" id="idup" name="id" value="${(member.id!" ")}" type="text" /> 
					Please specify file to upload: <input type="file" name="upfile">
					<br /> 
					<input type="submit" value="submit">
				</form> -->
				<!-- the avatar markup -->
				<div id="kv-avatar-errors" class="center-block"
					style="width: 800px; display: none"></div>
				<form class="text-center" action="/uploadImage" method="post" enctype="multipart/form-data">
					<div class="kv-avatar center-block" style="width: 200px">
						<input hidden="hidden" id="idup" name="id" value="${(member.id!" ")}" type="text" /> 
						<input id="avatar" name="avatar" type="file" class="file-loading">
						<input style="display: none;" id="submitImage" type="submit" value="submit">
					</div>
					<!-- include other inputs if needed and include a form submit (save) button -->
				</form>
			</div>

			<div class="col-md-8">
				<div class="tabbable" id="tabs-member">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#panel-profile" data-toggle="tab">Profile</a></li>
						<li><a href="#panel-social-media" data-toggle="tab">Social Media</a></li>
						<li><a href="#panel-address" data-toggle="tab">Address</a></li>
						<li><a href="#panel-contact" data-toggle="tab">Contact</a></li>
					</ul>
					<form action="/admin/updateMember" method="post" class="">
						<input hidden="hidden" id="id" name="id" value="${(member.id!" ")}" type="text" />
						<div class="tab-content">
							<div class="tab-pane active" id="panel-profile">

								<div class="form-group">
									<label for="username"> Username </label> 
									<input class="form-control" id="username" name="username"
										value="${(member.username!" ")}" type="text" />

								</div>
								<div class="form-group">
									<label for="password"> Password </label> 
									<input class="form-control" id="password" name="password"
										value="${(member.password!" ")}"  type="password" />
								</div>
								<div class="form-group">
									<label for="fullname"> Full Name </label> 
									<input class="form-control" id="fullname" name="fullname"
										value="${(member.fullname!" ")}" type="text" />
								</div>
								<div class="form-group">
									<label for="firstname"> First Name </label> 
									<input class="form-control" id="firstname" name="firstname"
										value="${(member.firstname!" ")}" type="text" />
								</div>
								<div class="form-group">
									<label for="lastname"> Last Name </label> 
									<input class="form-control" id="lastname" name="lastname"
										value="${(member.lastname!" ")}" type="text" />
								</div>
								<div class="form-group">

									<label for="gender"> Gender </label> 
									<input type="gender" id="gender" name="gender" value="${(member.gender!" ")}" hidden="hidden" /> 
									<select class="form-control" id="comboGender" onChange="combo(this, 'gender')">
										<#list dropdown["gender"]?keys as groupKey>
											<option value='${(groupKey!" ")}'<#if member.gender?contains(groupKey)> selected</#if>>
												${dropdown["gender"][groupKey]}</option>
										</#list>
									</select>
								</div>
								<div class="form-group">
									<label for="birthdate"> Birth date </label> 
									<input class="form-control" id="birthdate1" name="birthdate1"
										value="${(member.birthdate!" ")}" type="text" />
								</div>
								<!-- <div class="checkbox">
									<label> <input type="checkbox" /> Check me out</label>
								</div> -->
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
							<!-- .#panel-profile -->

							<!-- #panel-social-media start -->
							<div class="tab-pane" id="panel-social-media">
								<#list member.socmed as socmed>
									<div class="form-group">
										<label for="socmedno"> Socmed No </label> 
										<input class="form-control" id="socmedno" name="socmedno"
											value="${(socmed.no!'')}" type="text" />
									</div>
									<div class="form-group">
										<label for="resfield1"> resfield1 </label> 
										<input class="form-control" id="resfield1" name="resfield1"
											value="${(socmed.resfield1!'')}" type="text" />
									</div>
									<div class="form-group">
										<label for="resfield2"> resfield2 </label> 
										<input class="form-control" id="resfield2" name="resfield2"
											value="${(socmed.resfield2!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="resfield3">resfield2</label> 
										<input class="form-control" id="resfield3" name="resfield3"
											value="${(socmed.resfield3!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="resfield4"> resfield4 </label> 
										<input class="form-control" id="resfield4" name="resfield4"
											value="${(socmed.resfield4!" ")}" type="text" />
									</div>
								</#list>
							</div>
							<!-- /#panel-social-media end -->

							<!-- #panel-address start -->
							<div class="tab-pane" id="panel-address">
								<#list member.address as address>
									<div class="form-group">
										<label for="address">Address 1</label> 
										<input class="form-control" id="addressline1" name="addressline1"
											value="${(address.addressline1!" ")}" type="text" /> 
									</div>
									<div class="form-group">
										<label for="address">Address 2</label> 
										<input class="form-control" id="addressline2" name="addressline2"
											value="${(address.addressline1!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="district">District</label> 
										<input class="form-control" id="district" name="district"
											value="${(address.district!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="city">City</label> 
										<input class="form-control" id="city" name="city" 
										value="${(address.city!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="province">Province</label> 
										<input class="form-control" id="province" name="province"
											value="${(address.province!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="country">Country</label> 
										<input class="form-control" id="country" name="country"
											value="${(address.country!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="postcode">Post Code</label> 
										<input class="form-control" id="postcode" name="postcode"
											value="${(address.postcode!" ")}" type="text" />
									</div>
								</#list>
							</div>
							<!-- #panel-address end -->

							<!-- #panel-contact start -->
							<div class="tab-pane" id="panel-contact">
								<#list member.contact as contact>
									<div class="form-group">
										<label for="contacttype">Contact Type</label> <input
											class="form-control" id="contacttype" name="contacttype"
											value="${(contact.contacttype!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="detail"> Detail </label> <input
											class="form-control" id="detail" name="detail"
											value="${(contact.detail!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="channel"> Channel </label> <input
											class="form-control" id="channel" name="channel"
											value="${(contact.channel!" ")}" type="text" />
									</div>
								</#list>
							</div>
							<!-- /#panel-contact end -->

						</div>
						<!-- /.tab-content -->
					</form>
				</div>
				<!-- /#tabs-member -->
			</div>
			<!-- /.col-md-8 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script>
	var picker = new Pikaday({
		field : document.getElementById('birthdate1'),
		format : 'dd/mm/yyyy',
		onSelect : function() {
			/// console.log(this.getMoment().format('Do MMMM YYYY'));
		}
	});

	//combo gender
	function combo(thelist, theinput) {
		theinput = document.getElementById(theinput);
		var a = thelist.value;
		theinput.value = a;
	}
	
	 
	var btnCust = '<button type="button" class="btn btn-default" title="Upload picture" '
			+ 'onclick="$(\'#submitImage\').trigger(\'click\')">'
			+ '<i class="glyphicon glyphicon-tag"></i>' + '</button>';

	$("#avatar")
			.fileinput(
					{
						overwriteInitial : true,
						maxFileSize : 1500,
						showClose : false,
						showCaption : false,
						browseLabel : '',
						removeLabel : '',
						browseIcon : '<i class="glyphicon glyphicon-folder-open"></i>',
						removeIcon : '<i class="glyphicon glyphicon-remove"></i>',
						removeTitle : 'Cancel or reset changes',
						elErrorContainer : '#kv-avatar-errors',
						msgErrorClass : 'alert alert-block alert-danger',
						//defaultPreviewContent : '<img src="http://localhost:8080/retriveImage/${(member.id!" ")}"" alt="Your Avatar" style="width:200px">',
						defaultPreviewContent : '<img src="/assets/${(member.imagepath!" ")}"" alt="Your Avatar" style="width:200px">',
						
						layoutTemplates : {
							main2 : '{preview} ' + btnCust
									+ ' {remove} {browse}'
						},
						allowedFileExtensions : [ "jpg", "png"]
					});
	
	function submitImage() {
		alert("ssss");
		$('#submitImage').trigger('click');
	}
</script>
</@layout.adminLayout>
