<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">

<div class="container">

	<br />

	<!-- Example row of columns -->
	<div class="row">
		<div class="entry col-md-4 col-md-offset-4">

			<div class="entry-social">
				<button class="btn" id="entry-facebook" name="facebook">
					${i18n("login.signin.facebook")}
				</button>

				<button class="btn popup" id="entry-google" name="google">
					${i18n("login.signin.google")}
				</button>

				<button class="btn" id="entry-twitter" name="twitter">
					${i18n("login.signin.twitter")}
				</button>

				<div class="email-option">
					<strong class="line-thru or-sign-in">OR</strong>
				</div>

			</div>
			
			<form action="/login" method="post" class="form-horizontal" role="form">

				<div class="form-group login">
					<!--EMAIL ADDRESS-->
					<input id="username" placeholder='${i18n("login.username")}' class="form-control floating-label"
					type="text" value='${(flash.username)!""}' name="username">
                </div>

				<div class="form-group login">
					<!--PASSWORD-->
					<input id="password" placeholder='${i18n("login.password")}' class="form-control floating-label"
						   type="password"
						   value='${(flash.password)!""}' name="password">
                </div>

				<div class="form-group login">
                    
					<span class="col-md-8"><a href="#">Forgot Password?</a></span>
					<!--BUTTON-->
					<button type="submit" class="btn btn-primary pull-right">${i18n("login.loginNowButton")}</button>
                </div>
			</form>
			<p class="entry-signup-cta">Don't have an account? <a href="/sign-up">Register</a></p>
		</div>
	</div>
</div>
	</@layout.myLayout>
<script src="/assets/js/auth0-6.7.min.js"></script>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/login.js"></script>

	