<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">

<div class="container">
	<div>
		Pendaftaran Keanggotaan Anda telah berhasil. Silahkan cek email anda untuk melakukan verifikasi akun.
  		Terima kasih
	</div>
</div>

</@layout.myLayout>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/signUp.js"></script>
	