<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">

<div class="container">

	<br />

	<!-- Example row of columns -->
	<div class="row">
		<div class="entry col-md-4 col-md-offset-4">

			<div class="entry-social">
				<button class="btn" id="entry-facebook" name="facebook" onclick="checkLoginState();">
					${i18n("login.signup.facebook")}
				</button>

				<button class="btn" id="entry-google" name="google">
					${i18n("login.signup.google")}
				</button>

				<button class="btn" id="entry-twitter" name="twitter">
					${i18n("login.signup.twitter")}
				</button>

				<div class="email-option">
					<strong class="line-thru or-sign-in">OR</strong>
				</div>

			</div>
			
			<form action="/sign-up" method="post" class="form-horizontal" role="form" id="loginForm">
			
				<div class="form-group login">
					<!--NAME-->
					<input id="fullname" placeholder='${i18n("signup.fullname")}' class="form-control floating-label"" type="text" value='${(flash.fullname)!""}' name="fullname">
                </div>
				
			    <div class="form-group login">
					<!--EMAIL ADDRESS-->
					<input id="username" placeholder='${i18n("signup.email")}' class="form-control floating-label"" type="text" value='${(flash.username)!""}' name="username">
                </div>
                
                <div class="form-group login">
					<!--PASSWORD-->
					<input id="password" placeholder='${i18n("login.password")}' class="form-control floating-label"" type="password" value='${(flash.password)!""}' name="password">
                </div>
			
				<div class="form-group login">
					<!--REPASSWORD-->
					<input id="repassword" placeholder='${i18n("signup.repassword")}' class="form-control floating-label"" type="password" value='${(flash.Repassword)!""}' name="repassword">
                </div>
                
                <div class="form-group login">
                    
					
					<!--BUTTON-->
					<button type="submit" class="btn btn-primary pull-right">${i18n("signup.button")}</button>
                </div>
			</form>
			
		</div>
	</div>
</div>
	</@layout.myLayout>
<script src="/assets/js/auth0-6.7.min.js"></script>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/signUp.js"></script>
	